nltk
bert-extractive-summarizer
autocorrect
gensim
spacy==2.1.3
git+https://github.com/boudinfl/pke.git
flashtext
sentencepiece==0.1.95
transformers
allennlp
allennlp_models
nlp2go
pywsd
wn==0.0.23
git+https://github.com/Maluuba/nlg-eval.git@master
git+https://github.com/huggingface/transformers.git@5c00918681d6b4027701eb46cea8f795da0d4064


